<div class="games">
  <div class="cards">
    <div class="row">
      <a href="#" class="card card-classement">
        <img src="assets/img/fist.svg" alt="Shifumi" />
        <div class="card-info ">
          <h2>Shifumi</h2>
          <p>🥇 Eliot 45</p>
          <p>🥈 Tom</p>
          <p>🥉 Matilde</p>
        </div>
      </a>
      <a href="#" class="card card-classement">
        <img src="assets/img/fist.svg" alt="Dés" />
        <div class="card-info">
          <h2>Dés</h2>
          <p>🥇 Eliot 45</p>
          <p>🥈 Tom</p>
          <p>🥉 Matilde</p>
        </div>
      </a>
    </div>
  </div>
</div>