<nav class="navbar">
  <a routerLink="/" class="logo">
    <img id="logo" src="assets/img/logo-amitia.svg" alt="" />
    <h3>Amitia</h3>
    <p>Play with your friend</p>
  </a>
  <div class="links">
    <a routerLink="/" class="link">
      <img src="assets/img/menu/home.svg" alt="" />
      <h2>Home</h2>
    </a>
    <a routerLink="/jeux" class="link">
      <img src="assets/img/menu/jeux.svg" alt="" />
      <h2>Jeux</h2>
    </a>
    <a routerLink="/bots" class="link">
      <img src="assets/img/menu/bots.svg" alt="" />
      <h2>Bots</h2>
    </a>
    <a routerLink="/classement" class="link">
      <img src="assets/img/menu/classement.svg" alt="" />
      <h2>Classement</h2>
    </a>
    <a routerLink="/parametres" class="link">
      <img src="assets/img/menu/param.svg" alt="" />
      <h2>Paramètres</h2>
    </a>
  </div>

  <a routerLink="/login" (click)="logout()" class="link">
    <img src="assets/img/menu/deconexion.svg" alt="" />
    <h2 class="log-out">Déconnexion</h2>
  </a>
</nav>