<div class="home-cards">
  <div class="row">
    <div class="card card-game left">
      <div class="card-info">
        <p>Vous êtes au niveau {{level}}</p>
        <p>Votre score : {{globalScore}} pts</p>
        <p>Votre classement : 12 eme</p>
      </div>
    </div>
    
    <div class="card card-game left">
      <div class="card-info">
        <h2>Tic Tac Toe</h2>
        <p>Niveau 2</p>
        <p>Dernier Score : 120 pts</p>
        <p>Meilleur Score : 250 pts</p>
        <a href="#">
          <div class="btn">Jouer</div>
        </a>
      </div>
    </div>
  </div>

  <div class="row column-home">
    <a href="#" class="card card-greeting">
      <div class="card-greeting-inside">
        <h2>Send Love ❤️</h2>
      </div>
    </a>
    <a href="#" class="card card-greeting">
      <div class="card-greeting-inside">
        <h2>Make Fun 😂 </h2>
      </div>
    </a>
  </div>
</div>