<div class="games">
  <div class="cards">
    <div class="row">
      <a href="#" class="card card-game">
        <img src="assets/img/fist.svg" alt="" />
        <div class="card-info">
          <h2>Shifumi</h2>
          <p>Level 3</p>
          <p>Score : 120 pts</p>
          <!-- <div class="progress"></div> -->
        </div>
        <!-- <h2 class="percentage">60%</h2> -->
      </a>
      <a href="#" class="card card-game">
        <img src="assets/img/dice.svg" alt="" />
        <div class="card-info">
          <h2>Dés</h2>
          <p>Level 1</p>
          <div class="progress"></div>
        </div>
      </a>
    </div>
  </div>
</div>
